<%= render 'widgets/shared/head' %>

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas -->

<section id="uninav">
  <div class="uninav__hamburger-menu">
    <%= render 'drilldown_menu' %>
  </div>
  <%= render 'logo' %>
  <%= render 'utility_nav' %>
  <%= render 'global_nav' %>
  <%= render 'cta' %>
</section>

<div id="main">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi iure molestiae quaerat vel dolorem non
    praesentium vero fugit, adipisci suscipit neque nisi eius, obcaecati numquam sint delectus quam vitae?
    Blanditiis necessitatibus delectus, ipsum nemo fuga tempora dolorem error facere! Debitis facere culpa labore
    repellat id fugiat reiciendis error facilis corporis neque, alias doloribus, ad iure? Ab, libero neque. Saepe.
    Ab laboriosam explicabo minus soluta molestias voluptatum. Architecto id quod voluptates dolore, repellendus odit.
    Libero quam maiores sequi natus magni iste, veritatis est porro expedita, optio quo architecto! Perspiciatis,
    necessitatibus.
    Laboriosam quam eligendi nostrum. Laudantium ullam aliquam explicabo soluta! Nam quos consectetur vero omnis est
    soluta repellendus? Nesciunt adipisci odio unde, iste nam laborum repellat laudantium maiores magnam accusamus
    minima.
    Quasi a minus dolores doloribus vitae culpa eveniet fugit est quis maxime quod, enim nisi repellendus. Molestiae
    cupiditate sit, doloremque aut similique nihil quasi? Dolores earum odit tempore eligendi? Ratione?
    Provident tenetur tempora eaque nostrum commodi magnam magni consequatur? Ut repellat eaque debitis pariatur sequi
    blanditiis, ipsa tenetur fugit inventore similique nesciunt quisquam quod nisi doloribus eligendi. Quod, nisi
    dolores.
    Perspiciatis esse similique, magnam officia eligendi fuga, incidunt, quae optio laudantium eos provident doloribus
    ex cum fugiat? Cumque, nam quae perferendis reiciendis maiores facilis iusto? Suscipit ducimus id iure excepturi.
    Minima assumenda molestiae facilis consectetur distinctio aspernatur quasi laboriosam architecto? Quidem esse natus
    autem minima! Corrupti, et porro sapiente repudiandae, reprehenderit quidem neque laborum odit quis vel impedit iste
    culpa.
    Eveniet in maiores vitae dolorem, totam tempore quasi deleniti quidem tenetur cupiditate nihil, corporis debitis
    eius aut enim ipsam quo laudantium ratione commodi velit et natus omnis? Dignissimos, ipsa cumque?
    Ducimus quam assumenda accusantium earum amet, officia similique totam perspiciatis dolor, esse ex harum eos
    exercitationem perferendis debitis cum quibusdam optio nobis impedit, cumque numquam rem? Voluptates maiores
    consequatur dignissimos?
    Atque labore impedit nihil et aliquam, vitae dolorem saepe omnis, maiores accusamus veniam, quaerat ratione libero!
    Minima eos accusantium accusamus ea, soluta atque, voluptatem dolores, excepturi maxime reprehenderit esse ipsum.
    Placeat voluptate fugit sapiente pariatur itaque earum aspernatur veritatis porro perferendis iusto, rem dolores
    nostrum quos! Ad molestiae expedita dicta, nesciunt possimus adipisci, nulla odit vero veritatis iste in tempora!
    Reprehenderit est hic aut doloribus aperiam impedit dolore, omnis consequuntur rerum aliquam earum aliquid sunt,
    iste, corrupti amet asperiores rem sit? Iure consectetur, esse vel commodi fugiat quas architecto nihil.
    Provident maiores illo minus id iste repellat nesciunt ab fugiat suscipit facilis quisquam voluptates obcaecati
    atque, minima quam modi nihil commodi ipsum assumenda, distinctio et architecto excepturi. Nostrum, eligendi sunt.
    Consequatur distinctio ab repudiandae error nemo eum sit quas magni nulla! Facere vitae vero, quaerat quod officia
    quidem tempora laudantium quia, debitis earum fugit pariatur aliquid reiciendis corrupti, eaque totam!
    Voluptatem, harum soluta quis nobis cupiditate incidunt deserunt voluptates reiciendis dicta minima ipsam, eligendi
    excepturi impedit quia provident esse laborum possimus quisquam alias quo ipsum molestias. Nam ipsa dolores ad!
    Harum quidem repellendus fugit laudantium? Recusandae eum in quia ea inventore molestiae suscipit necessitatibus
    ducimus excepturi mollitia, accusantium soluta, expedita, doloremque dolorum culpa architecto sint optio neque
    corrupti debitis natus.
    Nam sed optio officia odit porro placeat esse quae vel? Nam eius pariatur quasi. Nihil, repellendus repudiandae odit
    magnam quaerat eligendi ab pariatur illum, voluptate placeat reiciendis quia laborum vel.
    Nam ut natus aliquid nesciunt velit iusto cumque sed maxime, odit veritatis corrupti aperiam voluptate minus qui,
    autem consequatur optio. Id rem consequatur sed laborum voluptatibus quae laudantium reprehenderit accusamus.
    Vero, necessitatibus numquam adipisci in hic blanditiis, quod iusto fugiat laboriosam optio saepe soluta sed tempore
    iure. Fugit, dolorem nemo, molestias consectetur, itaque obcaecati quibusdam nobis quis deleniti placeat in?
    Vel tempore cum, voluptate pariatur voluptatem minima totam. Sit dolores libero sequi ullam neque ipsa earum nostrum
    eveniet molestias magni! Corrupti perspiciatis accusantium magnam sunt illum sequi blanditiis id molestiae?
    Quis, molestias. Dolore omnis hic vel laborum culpa dicta cupiditate, pariatur, quaerat reprehenderit nihil fuga
    sed. Enim unde fuga omnis odio reprehenderit dolores sit ducimus ipsam veniam? Commodi, dolor nisi.
    Ad animi corporis dolor. Molestiae nesciunt pariatur delectus, non quibusdam voluptatibus velit qui, ex tempora
    laudantium, animi fugit id rerum sint commodi dolorem veritatis unde magni fuga illo aliquid? Quasi?
    Repudiandae voluptas iste quo ducimus corrupti asperiores quos at autem minima quas architecto, consequatur
    temporibus voluptatibus ex maiores odio reprehenderit, cumque repellendus eum! Omnis saepe ipsum tenetur ullam
    excepturi repellendus.
    Eveniet dolor accusamus soluta itaque et. Est, libero. Asperiores assumenda dolorem delectus officia cumque, quidem
    ipsum unde repellendus, fugit voluptas numquam sapiente iusto iure provident adipisci earum labore! Ratione, quae.
    Consectetur, debitis enim. Nihil quod tempore sunt alias aspernatur quibusdam delectus non exercitationem doloremque
    dolorem quo dicta tempora impedit, sit dolore odio vel recusandae animi debitis ratione? Minus, suscipit excepturi.
    Obcaecati qui iusto hic sunt architecto ex iure, necessitatibus reiciendis sit aspernatur? Doloremque a quaerat iste
    incidunt, accusamus, nulla pariatur perferendis molestias voluptatem porro, provident accusantium laudantium dolorum
    sed earum!
    Mollitia laboriosam earum voluptate quam sapiente quos! Natus dolor porro maiores pariatur soluta nulla cum non,
    illum, officiis repudiandae blanditiis tenetur voluptatibus necessitatibus. Molestias iure, esse maxime facilis
    soluta praesentium.
    Explicabo, vero error eum expedita recusandae, blanditiis perferendis sint doloremque ullam, molestias voluptatem
    quidem voluptates itaque fugiat! Consectetur architecto ut assumenda! Quasi aspernatur magni dolorum tenetur
    sapiente in voluptates numquam.
    Praesentium animi eveniet assumenda repellendus. Molestias beatae rerum quod voluptates aliquam provident hic fugit
    impedit amet sunt, dolore deserunt voluptatem magnam iure eligendi. Aperiam quidem nobis consequuntur tempora
    nostrum. Deleniti?
    Eius, expedita est dignissimos vitae consequuntur quam odit reprehenderit, illum voluptatum cupiditate repellat ea
    amet explicabo dolores repellendus numquam animi sapiente perspiciatis? Reiciendis, nostrum! Impedit tempore ullam
    reiciendis quisquam dolor!
    Obcaecati possimus est placeat qui. Voluptatum et suscipit necessitatibus. Praesentium ab deleniti recusandae
    consectetur voluptates laborum voluptas amet tempore vel. Tempore facilis aspernatur iusto cumque repudiandae.
    Facilis magni consectetur est.
    Ipsum delectus nam adipisci similique magnam iusto exercitationem perferendis sequi earum recusandae dolorum, quasi
    aspernatur nobis vero dolor cum ipsa facilis est vitae blanditiis! Omnis ad odit similique saepe quasi!
    Vero dolor voluptate quaerat, doloremque expedita alias, harum numquam architecto ab nesciunt maxime. Ipsum autem
    ad, eaque ullam doloremque esse placeat facere! Consequatur animi eius sit odio quisquam, quos beatae.
    Ducimus maiores incidunt sunt ut quis dolores numquam quisquam ratione, eius eaque doloribus corrupti explicabo
    corporis optio, non minima voluptatum accusantium alias? Omnis expedita aliquid quo sed tenetur, id dignissimos.
    Delectus repellendus esse quas necessitatibus tenetur, sunt consectetur tempore ab magnam vero quos explicabo est?
    Iusto sunt eum ad soluta reprehenderit, vero inventore labore autem repudiandae placeat dicta necessitatibus sequi.
    Eum veniam corporis adipisci quae sed reprehenderit illum delectus aut suscipit ullam culpa tempora ab deleniti
    harum dolores accusamus, necessitatibus exercitationem in maxime neque quidem porro! Quia tempora tempore impedit.
    Tenetur nam eaque cupiditate ad temporibus veritatis quod molestiae incidunt ea dicta quis laboriosam dolorem,
    deserunt nesciunt enim, pariatur eius tempore reprehenderit atque facere reiciendis ut. Reiciendis natus debitis
    ipsum.
    Provident, exercitationem. Aut officia ducimus dolores ad consequatur delectus quia aspernatur culpa! Exercitationem
    enim laborum hic numquam quis, ex eaque in quasi quas, impedit, eum saepe modi autem nemo nobis!
    Eligendi delectus quam nam! Recusandae velit maxime voluptatem itaque porro? Vero fugiat distinctio reprehenderit
    dolore dolores. At, labore asperiores nobis, hic ab numquam aperiam impedit repellendus dolorum tempore nihil
    veniam?
    Consequatur ab aliquid nulla harum? Repudiandae magni aliquid reprehenderit error voluptatem dolorum ducimus qui? A
    perspiciatis consequatur numquam beatae ab voluptatum rerum? Debitis eveniet explicabo aliquam illum aperiam
    repudiandae amet?
    Repudiandae minima molestiae suscipit quisquam soluta odio, reiciendis quam, praesentium vero, error doloribus nobis
    necessitatibus alias iusto. Asperiores optio modi commodi quibusdam deserunt et praesentium, placeat est, ullam
    natus cupiditate.
    Nemo perspiciatis eligendi adipisci consectetur quas cum tempore accusamus iste dignissimos, laborum aliquam odit ut
    earum voluptatem ipsam illo, molestias nihil corporis voluptates tempora error enim porro. Quos, error quidem!
    Consequatur quibusdam autem numquam quasi illum accusantium laborum, corporis harum labore exercitationem
    perferendis in voluptatum ad. Ratione at sequi ex, ducimus perferendis dolore tempore fuga iure, praesentium ipsum
    debitis quibusdam.
    Velit recusandae ut aliquid ullam voluptate? Debitis eligendi nostrum fugit facilis. Ad numquam repudiandae
    voluptatum temporibus similique. Deleniti, odit quod temporibus nobis iste reprehenderit earum non fugit. Tenetur,
    fuga veniam?
    Harum, repellendus maxime vel architecto quam sint cumque accusantium beatae veritatis at officiis qui laudantium
    accusamus nihil odit eaque aspernatur expedita eum alias impedit nisi, nostrum explicabo? Accusantium, voluptate
    debitis!
    Expedita mollitia quis corrupti minus dolorum ratione, repellat porro inventore dolore numquam quos esse in
    excepturi incidunt eum voluptas ab, beatae odio maxime hic. Nostrum at ipsum aut vitae illo.
    Alias distinctio libero eveniet, ipsam sint incidunt sequi assumenda facere natus soluta vel ea dignissimos,
    voluptate, necessitatibus fuga? Incidunt temporibus consequatur similique ad ducimus unde debitis quibusdam cumque
    possimus voluptates!
    Commodi sunt earum vitae consectetur obcaecati facilis inventore debitis maxime veritatis non aliquam, officia, ab
    quam fugit ullam fuga temporibus illo, amet praesentium ratione laborum sapiente ad? Fugit, exercitationem
    accusantium.
    Ipsa autem ipsam quibusdam labore aut nihil. Cumque deserunt unde sint blanditiis voluptatibus numquam molestias
    nisi corrupti maxime, quisquam quas cupiditate, cum vero esse dolorem repellendus at eaque laboriosam deleniti.
  </p>
</div>

<%= render '_cascade/blocks/html/footer.html' %>