<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDN - Cascade Assets</title>
    <system-xml>
        <!-- <%= "Branch: " + `git rev-parse --abbrev-ref HEAD`.strip + " Build: " + Time.now.strftime('%I:%M%p %m-%d-%Y')  -%> -->

        <!-- Preload CSS & JS -->
        <%= stylesheet_link_tag 'master', rel: 'preload', as: 'style', media: 'all' %>
        <%= preload_js_link 'master', rel: 'preload', as: 'script', media: 'all'  %>

        <!-- Carry on -->
        <%= stylesheet_link_tag 'master', media: 'all' %>
        <%= javascript_include_tag 'master', defer: true %>
    </system-xml>
</head>
<style>
    body {
        display: grid;
        place-content: center;
        font-size: 16px;
    }

    code {
        background-color: var(--color-panther-black);
        color: lime;
        padding: 0 5px 0 5px;
        font-family: monospace;
        font-weight: regular;
        width: max-content;
    }
</style>

<body>
    <h1>Cascade Assets - CDN Proof of Concept</h1>
    <code> <%= "Current Branch: " + `git rev-parse --abbrev-ref HEAD`.strip + " Build: " + Time.now.strftime('%I:%M%p %m-%d-%Y')  -%>
    </code>
    <ul>
        <li>
            <code>rake netlify</code> pushes the current branch <code>dist/netlify</code> assets and index to:
            <a
                href='<%="https://" + `git rev-parse --abbrev-ref HEAD`.strip + "--chapman.netlify.app/" %>'><%="https://" + `git rev-parse --abbrev-ref HEAD`.strip + "--chapman.netlify.app/" %></a>
        </li>
        <li>
            Deploy status can be inspected at: <a
                href="https://app.netlify.com/sites/chapman/deploys">https://app.netlify.com/sites/chapman/deploys</a>
        </li>
        <li>
            <a href="./_assets/master.css">./_assets/master.css</a>
        </li>
        <li>
            <a href="./_assets/master.js">./_assets/master.js</a>
        </li>
    </ul>
</body>

</html>